<div class="step-container col-sm-12 col-md-12 col-lg-12 float-left">
  <div class="col-md-1 col-sm-1 col-lg-1 float-left"></div>
  <div class="col-md-10 col-sm-10 col-lg-10 float-left">
    <div *ngFor="let item of items" class="card item-background">
      <div class="row">
        <div class="col-md-7 col-sm-7 col-lg-7 float-left">
          <div class="card-header h6 item-title">{{ 'RETROSPECTIVE.ITEM' | translate }}</div>
          <div class="card item-body" [style.borderBottomColor]="item.playerId.color">
            <div class="card-body">
              <div class="h6 parent">{{item.summary}}</div>
              <div *ngIf="item.children.length > 0">
                <div *ngFor="let child of item.children">
                  <div class="card children" [style.borderBottomColor]="child.playerId.color">
                    <span>{{child.summary}}</span>
                    <div *ngIf="child.categoryName" class="label-format float-left" [style.background-color]="child.color">{{child.categoryName}}</div>
                  </div>
                </div>
              </div>
              <div class="label-format float-right" [style.background-color]="item.categoryColor">{{item.categoryName}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <div class="col-md-7 col-sm-7 col-lg-7 float-right">
            <div class="card-header h6 item-title"> {{ 'RETROSPECTIVE.ACTION_ITEM' | translate }}</div>
            <div class="card action-item-body">
              <div class="card-body">
                {{item.actionItem}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-1 col-lg-1 float-left"></div>
</div>